{% if site.footer-links.dribbble %}<a href="https://dribbble.com/{{ site.footer-links.dribbble }}"><svg-icon class="svg-icon dribbble"><svg-icon/></a>{% endif %}
{% if site.footer-links.email %}<a href="mailto:{{ site.footer-links.email }}"><svg-icon class="svg-icon email"><svg-icon/></a>{% endif %}
{% if site.footer-links.facebook %}<a href="https://www.facebook.com/{{ site.footer-links.facebook }}"><svg-icon class="svg-icon facebook"><svg-icon/></a>{% endif %}
{% if site.footer-links.flickr %}<a href="https://www.flickr.com/{{ site.footer-links.flickr }}"><svg-icon class="svg-icon flickr"><svg-icon/></a>{% endif %}
{% if site.footer-links.github %}<a href="https://github.com/{{ site.footer-links.github }}"><svg-icon class="svg-icon github"><svg-icon/></a>{% endif %}
{% if site.footer-links.instagram %}<a href="https://instagram.com/{{ site.footer-links.instagram }}"><svg-icon class="svg-icon instagram"><svg-icon/></a>{% endif %}
{% if site.footer-links.linkedin %}<a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}"><svg-icon class="svg-icon linkedin"><svg-icon/></a>{% endif %}
{% if site.footer-links.pinterest %}<a href="https://www.pinterest.com/{{ site.footer-links.pinterest }}"><svg-icon class="svg-icon pinterest"><svg-icon/></a>{% endif %}
{% if site.footer-links.rss %}<a href="{{ site.baseurl }}/feed.xml"><svg-icon class="svg-icon rss"><svg-icon/></a>{% endif %}
{% if site.footer-links.twitter %}<a href="https://www.twitter.com/{{ site.footer-links.twitter }}"><svg-icon class="svg-icon twitter"><svg-icon/></a>{% endif %}
{% if site.footer-links.stackoverflow %}<a href="http://stackoverflow.com/{{ site.footer-links.stackoverflow }}"><svg-icon class="svg-icon stackoverflow"><svg-icon/></a>{% endif %}
{% if site.footer-links.youtube %}<a href="https://youtube.com/{{ site.footer-links.youtube }}"><svg-icon class="svg-icon youtube"><svg-icon/></a>{% endif %}
{% if site.footer-links.googleplus %}<a href="https://plus.google.com/{{ site.footer-links.googleplus }}"><svg-icon class="svg-icon googleplus"><svg-icon/></a>{% endif %}
{% if site.footer-links.beluga %}<a href="http://beluga.fm/{{ site.footer-links.beluga }}"><svg-icon class="svg-icon beluga"><svg-icon/></a>{% endif %}
{% if site.footer-links.qiita %}<a href="https://qiita.com/{{ site.footer-links.qiita }}"><svg-icon class="svg-icon qiita"><svg-icon/></a>{% endif %}
