//
// VARIABLES
//

$blue: #00A0B0
$brown: #6A4A3C
$red: #CC333F
$orange: #EB6841
$yellow: #EDC951

// Grays
$black: #000
$darkerGray: #272727
$darkGray: #444
$gray: #666
$gray2: #888
$lightGray: #aaa
$lighterGray: #eee
$white: #fff

// Font stacks
$helvetica: Meiryo, Helvetica, Arial, sans-serif;
$helveticaNeue: Meiryo, "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Meiryo, Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
