<!-- <!DOCTYPE html>
<html>
	<head>
		<title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>
		{% include meta.html %}
		{% include mathjax.html %}
		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/style.css" />
		<link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

	</head>

	<body>
		<article class="post">
			<h1>{{ page.title }}</h1>
			
			<div class="date">
				{{ page.date | date: "%Y年%m月%d日" }}
			</div>

			<div class="entry">
				{{ content }}
			</div>
		</article>

		<div class="wrapper-footer">
			<div class="container">
				<footer class="footer">
					{% include svg-icons.html %}
				</footer>
			</div>
		</div>
	</body>
</html>
 -->

---
layout: default
---

<article class="page">

	<h1>{{ page.title }}</h1>

	<div class="entry">
		{{ content }}
	</div>
</article>
